@{
    Layout = null;
}

<div class="row welcomeMsg hide-side-bar">

    <div class="cell bg-blueWhite padding20 desktop-view">
        <h1 class="place-left txtFont padding20">Welcome to OneVet</h1>
        <h3 class="no-margin place-left txtFontSide padding20  no-padding-top no-padding-bottom no-padding-right">Protect our partners, customers and brand</h3>
    </div>

    <div class="cell bg-blueWhite padding20 mobile-view">
        <h1 class="place-left txtFont">Welcome to OneVet</h1>
        <h3 class="no-margin place-left txtFontSide padding10  no-padding-top no-padding-bottom no-padding-right">Protect our partners, customers and brand</h3>
    </div>

</div>

<div class="row cells12 mobile-view">
    <!--<div class="dropdown-button place-left padding10 no-padding-top no-padding-right">
       <button class="button dropdown-toggle no-margin cp_select">Company</button>
          <ul class="split-content d-menu" data-role="dropdown">
             <li><a href="#">Company</a></li>
             <li><a href="#">Reply All</a></li>
             <li><a href="#">Forward</a></li>
          </ul>
    </div>-->
    <!--<div class="tab-group-content place-right search_input padding10 no-padding-top no-padding-left">
          <div class="input-control text no-margin">
             <input type="text" class="textInput">
             <button class="button search_btn"><span class="mif-search"></span>
             </button>
          </div>
    </div>-->
    <!--<div class="place-right padding10 no-padding-top clear-float more_opt">
       <span class="place-right">&nbsp;Advanced</span>
       <div class="place-right clace-right ">
          <span class="ms-Icon ms-Icon--arrowRight rightArrow"></span>
       </div>
    </div>-->
    <div style="height: 700px;"><br /><br /><br /><br /><br /><br /><br /></div>
</div>

<div class="row cells12 desktop-view">
    <div class="place-left padding20">
        <h2 class="fg-black no-margin place-left txtFont">Home</h2>
    </div>
    <div class="place-right cell colspan6 padding20 no-padding-bottom search_bar">
        <div class="tab-group-content place-right search_input">
            <div class="input-control text no-margin">
                <input type="text" class="textInput">
                <button class="button search_btn">
                    <span class="mif-search"></span>
                </button>
            </div>
        </div>

        <div class="dropdown-button place-right">
            <button class="button dropdown-toggle no-margin cp_select">Menu</button>
            <ul class="split-content d-menu" data-role="dropdown">
                <li><a href="#">Company</a></li>
                <li><a href="#">Reply All</a></li>
                <li><a href="#">Forward</a></li>
            </ul>
        </div>
    </div>
    <div class="place-right padding20 no-padding-top clear-float more_opt">
        <span class="place-right">&nbsp;Advanced</span>
        <div class="place-right clace-right ">
            <span class="ms-Icon ms-Icon--arrowRight rightArrow"></span>
        </div>
    </div>
</div>
<div class="row cells12 desktop-view">
    <div class="cell colspan6 padding20">
        <div class="boredrCls padding10">
            <h2 class="sub-leader">Assigned</h2>
            <span class="ms-Icon ms-Icon--gear padding10 ms_icon place-right"></span>
            <table id="myTable">
                <thead>
                    <tr>
                        <th class="myheader">Company Name</th>
                        <th>Country</th>
                        <th>Assigned</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <div class="place-right more_opt">
                <span class="place-right">&nbsp;More</span>
                <span class="ms-Icon ms-Icon--arrowRight rightArrow place-right"></span>
            </div>
        </div>
    </div>

    <div class="cell colspan6 padding20">
        <div class="boredrCls padding10">
            <h2 class="sub-leader">History</h2>
            <span class="ms-Icon ms-Icon--gear padding10 ms_icon place-right"></span>
            <table id="historyTable">
                <thead>
                    <tr>
                        <th>Company Name</th>
                        <th>Country</th>
                        <th>Completed</th>
                        <th>Final Status</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <div class="place-right more_opt">
                <span class="place-right">&nbsp;More</span>
                <span class="ms-Icon ms-Icon--arrowRight rightArrow place-right"></span>
            </div>
        </div>
    </div>
</div>