@{
    Layout = null;
}







<div class="row cells12">
    <div class="place-left padding20">
        <h2 class="fg-black no-margin alignLeft txtFont">New Questionnaire</h2>
        <p class="alignLeft fg-cobalt">Part 2: Add Questions</p>

    </div>
</div>
<div class="row step2Quest">
    <ul class="accordion">
        <li>
            <a class="toggle pageTxt editPageTxt downArrowPng" href="javascript:void(0);">New Page</a>
            <ul class="inner">
                <input type="hidden" class="pageHidden" value="">
                <li>
                    <form>
                        <div class="inner">

                            <label class="alignLeft">Title</label>
                            <div class="input-control text alignLeft">
                                <input type="text" class="pageTitle inputBorder fieldWidth" name="pageTitle">
                                <div class="errorMargin">
                                    <label class="alignLeft errorText">Please Enter Page Title</label>
                                </div>
                            </div>
                            <label class="alignLeft erroLabel margin_2">Introduction</label>
                            <div class="input-control textarea alignLeft">
                                <textarea id="page_Intro" class="txtAreaWidth" name="pageIntroduction"></textarea>
                                <span id="errorPageIntro" class="error_Message marginNone">Please Enter Page Introduction</span>
                            </div>
                            <div class="buttonDoneCancel alignLeft">
                                <div class="createPageDone actionButtonDone"><img src="/images/generic-tick-small-accent@2x.png">&nbsp;Done</div>
                                <div class="createPageCancel actionButtonCancel margin80"><img src="/images/generic-cross-12px-accent@2x.png">&nbsp;Cancel</div>
                            </div>

                        </div>
                    </form>
                </li>

                <!--  <li>
                      <a class="toggle downArrowPng" href="javascript:void(0);">New Question</a>
                      <ul class="inner">
                          <li>
                              <form>
                                  <div class="inner">

                                      <div>
                                          <span class="place-left">Search questions or&nbsp</span> <span class="addQuest place-left">add a new one</span>
                                          <div class="tab-group-content alignLeft search_input margin10 no-margin-left">
                                              <div class="input-control text no-margin">
                                                  <input type="text" class="textInput inputSearchQuestion" name="inputSearchQuestion">
                                                  <button class="button search_btn questionSearchButton">
                                                      <span class="mif-search"></span>
                                                  </button>
                                              </div>
                                          </div>
                                      </div>


                                  </div>
                              </form>
                          </li>
                      </ul>
                  </li>-->

            </ul>
            <div class="editNewQuestion" style="cursor:pointer">New Question</div>
        </li>
    </ul>
</div>
<div class="row">
    <div class="newPageCreate newPageStyle disablePage">New Page</div>
</div>


<div class=" row padding20">
    <button class="button bt-next" ng-click="redirectToStep1()">Back</button>
    <button class="button bt-next submitQuestions" ng-click="publishAndRedirect()">Submit</button>
    <div class="place-right">
        <button class="button bt-blue" ng-click="redirectToAdmin()">Cancel</button>
        <button class="button bt-blue previewQuestions" ng-click="previewQuestionnaire($event)">Preview</button>
        <button class="button bt-blue saveQuestions" ng-click="redirectWithoutSave()">Save As Draft</button>
    </div>
</div>



<div data-role="dialog" id="dialogPreviewQuestionnaire" class="padding1 dialog" data-close-button="false" data-overlay-color="op-dark" data-width="80%" data-height="90%" data-overlay="true" preview-links-open-new-window>

    <div class="previewBack" onclick="hideMetroDialogDiv('#dialogPreviewQuestionnaire'); destroyWizard('#previewWizard');">
        <img src="/images/generic-back-arrow-white.svg" width="15" height="15" alt="Back" /> &nbsp;Questionnaire preview
    </div>

    <div class="row cell txtHeading desktop-view previewOnly">
        <div class="cell align-center">
            This is a preview. Questionnaire answers won't be saved.
        </div>
    </div>

    <div class="row cells2 txtHeading desktop-view previewLogoLine">
        <div class="cell">
            OneVet
        </div>
        <div class="cell align-right">
            <img src="/images/microsoft-logo.svg" alt="Microsoft logo" width="84" height="27" />
        </div>
    </div>

    <div class="row cells4 bg-blueWhite text-enlarged previewHeading desktop-view">
        <div class="previewHeadingLeft cell colspan3">
            {{questionnaireName}}
        </div>
        <div class="previewHeadingRight cell">
            <div>{{questionnairePreviewPercentageComplete}}% completed</div>
            <div class="answers">Page {{questionnairePreviewCurrentPageNumber}}/{{questionnairePreviewPageCount}}</div>
        </div>
    </div>

    <div class="previewMain">

        <div class="previewWelcome">
            <div class="previewIntro" ng-bind-html="renderHtml(questionnaireIntro)"></div>
            <button class="bt-next btn-next" ng-click="goToWizard($event)">Continue</button>
        </div>

        <div class="wizard" id="previewWizard" data-stepper-type="cycle" data-buttons='{"next": {"show": true, "title": "Next", "cls": "bt-next", "group": "right"}, "prior": {"show": true, "title": "Previous", "cls": "bt-next", "group": "left"}, "cancel": {"show": false}, "help": {"show": false}, "finish": {"show": true, "title": "Submit", "cls": "bt-next", "group": "right"}}'>

            <div class="steps">


                <div class="step" ng-repeat="page in questionnairePreviewPages" fin-preview-pages-load>
                    <h1>{{page.PageTitle}}</h1>

                    <div class="row small" ng-show="page.PageIntro" ng-bind-html="renderHtml(page.PageIntro)"></div>

                    <div class="row cells12" id="question{{question.QuestionVersionId}}" ng-repeat="question in questionResult" fin-preview-questions-load>

                        <div class="cell" ng-class="{'width25' : (question.DisplayOrder.toString().indexOf('.')==-1),'width45 questionHide' : (question.DisplayOrder.toString().indexOf('.')!=-1 && !question.IsRequired),'width45' : (question.DisplayOrder.toString().indexOf('.')!=-1  && question.IsRequired)}">
                            <h2>{{question.DisplayOrder}}</h2>
                        </div>
                        <div class="cell" ng-class="{'colspan11' : (question.DisplayOrder.toString().indexOf('.')==-1),'colspan10 questionHide' : (question.DisplayOrder.toString().indexOf('.')!=-1  && !question.IsRequired),'colspan10' : (question.DisplayOrder.toString().indexOf('.')!=-1  && question.IsRequired)}">
                            <h2>{{question.QuestionText}} <span data-role="hint" data-hint-color="fg-white" data-hint-mode="2" data-hint-position="right" data-hint-background="#0078d6" data-hint="{{question.QuestionHelpText}}"><img src="/images/generic-input-help.svg" class="hintQuestionMark" width="15" height="15" /></span></h2>
                            <div class="row small" ng-show="question.QuestionContent" ng-bind-html="renderHtml(question.QuestionContent)"></div>

                            <div class="input-control textarea ctlMargin" ng-if="question.AnswerType == 'Free Text'">
                                <textarea id="{{question.QuestionVersionId}}" name="{{question.QuestionVersionId}}" class="txtAreaWidth"></textarea>
                            </div>

                            <div ng-if="question.AnswerType == 'Single Choice'" class="ctlMargin">
                                <div ng-repeat="option in question.QuestionsOptionPreview">
                                    <label class="input-control radio small-check" ng-click="showChildQuestionsSingleChoice(option.BranchingQuestionIds, question.QuestionVersionId)" ng-if="option.OptionText!='ISREQUIRED'">
                                        <input type="radio" value="{{option.OptionText}}" id="{{question.QuestionVersionId}}" name="{{question.QuestionVersionId}}" branchingQuestion="{{option.BranchingQuestionIds}}" weight="{{option.OptionWeight}}" />
                                        <span class="check"></span>
                                        <span class="caption">{{option.OptionText}}</span>
                                    </label>
                                </div>
                            </div>

                            <div ng-if="question.AnswerType == 'Multiple Choice'" class="ctlMargin">
                                <div ng-repeat="option in question.QuestionsOptionPreview" ng-click="showChildQuestionsMultipleChoice(question.ChildQuestionGroups, question.QuestionVersionId)">
                                    <label class="input-control checkbox small-check" ng-if="option.OptionText!='ISREQUIRED'">
                                        <input type="checkbox" value="{{option.OptionId}}" id="{{question.QuestionVersionId}}" name="{{question.QuestionVersionId}}" branchingQuestion="{{option.BranchingQuestionIds}}" weight="{{option.OptionWeight}}" />
                                        <span class="check"></span>
                                        <span class="caption">{{option.OptionText}}</span>
                                    </label>
                                </div>
                            </div>

                            <div ng-if="question.AnswerType == 'Attachment'" class="row cells3 ctlMargin">
                                <div class="cell">

                                    <div class="input-control file full-size topMargin" data-role="input">
                                        <label>File</label>
                                        <input type="file" id="{{question.QuestionVersionId}}">
                                        <button class="button"><span class="mif-folder"></span></button>
                                    </div>
                                </div>
                            </div>

                            <div ng-if="question.AnswerType == 'Data List'" class="row cells3 ctlMargin">
                                <div ng-controller="previewQuestionnaireDataList">
                                    <div ng-repeat="entry in dataListEntries" class="dataListDisplay row cells12">
                                        <div class="cell colspan10">
                                            <div></div>
                                            <div ng-repeat="field in entry.fields">
                                                <div ng-repeat="(key, value) in field" class="padding5">
                                                    {{value}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cell colspan2">
                                            <!--<a ng-click="removeEntry($index)">Edit</a> &nbsp;--><a ng-click="removeEntry($index)">Delete</a>
                                        </div>
                                    </div>

                                    <div ng-repeat="option in question.QuestionOptions" class="row cells2 topMargin">
                                        <div class="cell">
                                            <label>{{option.OptionText}}</label>
                                            <div class="input-control text full-size">
                                                <input type="text" id="{{option.OptionId}}" ng-model="dataListEntry.datalistFields[$index]">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="datalistAddBtn">
                                        <a ng-click="saveDataList()"><img src="/images/generic-plus-circle.svg" width="35" height="35" /> &nbsp;Add</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>



        </div>

        <div class="previewBye">
            <div class="previewFinish" ng-bind-html="renderHtml(questionnaireThankYou)"></div>
            <button class="bt-next btn-next" onclick="hideMetroDialogDiv('#dialogPreviewQuestionnaire'); destroyWizard('#previewWizard');">Finish</button>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).keydown(function (e) {
        // hide dailog if ESCAPE key pressed
        if (e.keyCode === 27) {
            hideMetroDialogDiv('#dialogPreviewQuestionnaire');
            destroyWizard('#previewWizard');
        }
    });
</script>